<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.367292299132-0ptni6dbt17jm31aji67q29ettph04vq</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>367292299132-0ptni6dbt17jm31aji67q29ettph04vq.apps.googleusercontent.com</string>
</dict>
</plist>

